
body{font-family:Arial;background:#f4f4f4;text-align:center;padding:20px}
.card{background:white;padding:20px;border-radius:12px;max-width:700px;margin:auto;margin-top:10px}
.hidden{display:none}
button,input,select{font-size:20px;padding:10px;margin:5px}
input[type=range]{width:90%}
*{user-select:none;-webkit-user-select:none}
.impostor{background:#ffdddd;padding:10px;border-radius:10px}
.normal{background:#ddffdd;padding:10px;border-radius:10px}
.timer{font-size:40px;font-weight:bold}
